.umkm-detail-container {
  display: flex;
  color: var(--text-primary);
  background-color: var(--color-accent);
  min-height: 100vh;
}
.umkm-info-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
}

.umkm-info {
  border: 1px solid black;
  gap: 3rem;
  border-radius: 20px;
  display: flex;
  padding: 2rem;
  object-fit: cover;
  height: 50vh;
}

#star-icon {
  width: auto;
  height: 1rem;
  margin-right: 0.5rem;
  bottom: 0;
}

#umkm-photo {
  object-fit: fill;
}
